.legend {
	font-size: 14pt;
	margin-bottom: 3px;
}

.input-xsmall { width: 75px; }

.input-xmedium { width: 119px; }

th, td {
	cursor: default;
}

.right10 {
	margin-right: 10px;
}

.input-mediumLarge { width: 150px; }

.smallText { font-size: 10px; }

.checkboxIcon {
	display: block;
	width: 15px;
	margin: auto;
	margin-top: 5px;
}

.table button, .table a {
	width: 40px;
	display: block;
	margin: 0 auto;
}

.patientTree {
	background-color: rgb(250,250,250);
	margin-top: 10px;
	overflow-y: scroll;
}

.contentPane {        
	background-color: rgb(250,250,250);
	margin-top: 10px;
}    

.contentPane .container-fluid { padding: 5px; }

.tabScroll { overflow-y: auto; }

.fill { height: 100%; }                               

.patientRecordNav { margin-left: 10px !important; }

.patientRecordNav li a {
	color: #000;
	text-decoration: none;
}

.patientRecordNav li a:hover { text-decoration: none; }

.patientName {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}

.patientNavs { margin-top: 15px; }

.nav-tabs { margin-bottom: -1px; }

.tab-pane {
	background-color: #fff;   
	border: 1px solid #ddd;
	border-radius: 0 0 5px 5px;
	padding: 0 10px;
}

.formTabs { clear: both; }

.formPadding { padding: 10px; }

.formScroll {
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.employedPerson { margin: 12px; }
     
.referenceTabs { clear: both; }             

#referringphysician form { padding: 10px; }        

.marginBottom5 { margin-bottom: 5px; }
.marginBottom15 { margin-bottom: 15px; }
.marginTopMinus15 { margin-top: -15px; }

.insuranceOptions {
    border: 1px solid #aaa;  
    width: 160px;
    margin: 12px;      
}

.insuranceOptions label { width: 140px !important; }

.commentContainer { padding-right: 15px; }

.commentSpan { width: 100%; }

.paymentTable { max-width: none; }
.paymentTable input, .paymentTable select { width: 100%; }
.paymentTable td { padding: 5px; }
.paymentTable th:last-child { width: 15%; }

.alertHolder { height: 45px; }
.alert { display: none; }

.modalAlert {
	margin-top: 2px;
	height: 20px;
	line-height: 15px;
	font-size: 12px;
}
.modalAlert .alert {
	display: none;
	padding: 1px;
	margin-bottom: 0;	
}

.validationElement { border: solid 1px red !important; }

.required { 
	color: red;
	display: inline-block; 
}

.arrow {
	width: 25px;
	height: 20px;
	float: right;
}

.down {
	background: url('../Content/images/glyphicons-halflings.png') -307px -117px;
}

.up {
	background: url('../Content/images/glyphicons-halflings.png') -283px -117px;
}

/* Personal Information */
.personalAlert {
	height: 20px;
	display: none;
}

.span6 .label, label.inline  {
    display: inline-block;
    width: 130px;   
}

#additionalCharges { 
	display: inline-block;
	width: 139px;
}

/* History & Present Illness */
.historyComment {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 388px;
}

.commentSpan {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.reviewAlert {
	height: 20px;
	display: none;
}

.reviewOfSystem {
	margin-bottom: 5px;
}

.reviewPushRight {
	float: right;
	width: 541px;
}

.reviewRadio {
	display: inline-block;
	margin-right: 10px;
}

.reviewComment {
	width: 220px;
}

.reviewFormScroll {
	overflow-y: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
}

.problemAlert {
	height: 20px;
	display: none;
}

.problemUnknown {
	display: inline-block;
	width: 85px;
}

.problemNotApplicable {
	display: inline-block;
	width: 108px;
}

.problemFormScroll {
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.medicationAlert {
	height: 20px;
	display: none;
}

.medicationFormScroll {
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.allergyAlert {
	height: 20px;
	display: none;
}

.allergiesCheckbox  {
	display: inline-block;
	width: 150px;
}

.allergyPushRight {
	display: inline-block;
	margin-right: 5px;
}

.allergyFormScroll {
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

/* Orders */
.mainOrderTableHolder {
	height: 450px;
	overflow-y: auto;
}

.mainOrderTableHolder tr,
.orderTableHolder tr,
.officeTableHolder tr {
	cursor: default;
}

.orderForm a { cursor: pointer; }

.orderTable td div {
	width: 15px;
	margin: auto;
}
.orderTable tr { cursor: default; }
.orderTable td, .orderTable th {
	text-align: center;
}

.orderBox { min-width: 615px; }

.orderForm textarea { width: 97%; }
.orderForm select { width: 160px; }

.orderTableHolder {
	height: 250px;
	overflow-y: auto;
}

.orderBox .modal-body {
	max-height: none;
	min-height: 400px;
}

.officeTableHolder {
	height: 400px;
	overflow-y: auto;
}

.drugHolder {
	width: 175%;
	height: 580px;
}
.drugHolder .modal-header { padding: 1px 15px; }
.drugHolder .modal-body {
	height: 550px;
	max-height: 550px;
	padding: 13px;
	padding-top: 0;
}

.drugsInstructions { width: 98%; }

.drugsForm { margin: 0 0 4px; }
.drugsForm legend { margin-bottom: 5px; }

.drugsButtons { margin-bottom: 4px; }

.drugsTable {
	overflow-y: auto;
	clear: both;
	height: 190px;
}

.drugsTable table {
	width: 100%;
	table-layout: fixed;
}

.drugsTable td {
	overflow: auto;
	white-space: nowrap;
}

.drugsTable tr > td:last-child,
.drugsTable tr > th:last-child {
	width: 20px;
	overflow:visible;
}

.inputCell { padding: 0 !important; }

.inputCell input {
	padding: 4px;
	margin: 0px;
	height: 100%;
	border: none;
}

.flowHolder {
	width: 800px;
	overflow-y: auto;
}

.flowHolder .modal-header { padding: 1px 15px; }

.flowHolder .modal-body {
	height: 550px;
	max-height: 550px;
	padding: 13px;
	padding-top: 0;
	overflow-y: visible;
}

.flowTableHolder {
	max-height: 150px;
	overflow-y: auto;
}

.venousTableHolder {
	max-height: 150px;
	overflow-y: auto;
}

.venousTableHolder .last { width: 7%; }

.flowForm fieldset legend {
	margin-bottom: 5px;
	padding-top: 10px;
	font-size: 17px;
	line-height: 20px;
}

.flowForm .venousFields input[type="text"] { width: 35px; }

.flowForm .venousFields .radio {
	font-size: 12px;
	margin: 0 5px;
}

.medOrderForm {
	margin: 0;
}

.medTable {
	height: 225px;
	overflow-y: auto;
}

/* Followup */
.superBox { 
	min-width: 800px;
	height: 500px;
}

.superBox .modal-body {
   height: 521px;
   overflow-y: auto;
}

.followupAlert {
	height: 20px;
	display: none;
}

.phoneLogAlert {
	height: 20px;
	display: none;
}

.checkoutAlert { 
	height: 20px;
	display: none;
}

.checkoutTab label.inline  {
    display: inline-block;
    width: 130px;
}

.checkoutPane { overflow-y: auto; }

.checkoutTab  .label, label.inline  {
    display: inline-block;    
	width: 130px;  
}

.fileHolder {
	width: 900px;
}

.fileHolder .modal-header { padding: 1px 15px; }

.fileHolder .modal-body {
	height: 550px;
	min-height: 550px;
	padding: 13px;
	padding-top: 0;
	overflow-y: auto;
}

.fileHolder .modal-body img {
	display: block;
	max-width: 99%;
	margin: auto;
}
