.legend {
	font-size: 14pt;
	margin-bottom: 3px;
}

.input-xmedium {
	width: 119px;
}

.input-mediumLarge {
	width: 150px;
}

.checkbox {
	padding-bottom: 15px;
}

.patientTree {
	background-color: rgb(250,250,250);
	margin-top: 10px;
	overflow-y: scroll;
}

.contentPane {        
	background-color: rgb(250,250,250);
	margin-top: 10px;
}    

.contentPane .container-fluid {
	padding: 5px;
}

.tabScroll {
	overflow-y: auto;
}

.fill {
	height: 100%;   
}                               

.patientRecordNav {
	margin-left: 10px !important;
}

.patientRecordNav li a {
	color: #000;
	text-decoration: none;
}

.patientRecordNav li a:hover {
	text-decoration: none;
}

.patientName {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}

.patientNavs {
	margin-top: 15px;
}

.nav-tabs {
	margin-bottom: -1px;
}

.tab-pane {
	background-color: #fff;   
	border: 1px solid #ddd;
	border-radius: 0 0 5px 5px;
	padding: 0 10px;
}

.formTabs {
	clear: both;
}

.formPadding {
	padding: 10px;   
}

.formScroll {
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;

}

.employedPerson {
	margin: 12px;        
}
     
.referenceTabs {
	clear: both;      
}             


#referringphysician form {       
	padding: 10px; 
}        

.marginBottom5 {
	margin-bottom: 5px;
}

.bigContainer {
    border: 1px solid #aaa;  
    width: 130px;
    margin: 12px;      
}
.commentContainer {
	padding-right: 15px;
}

.commentSpan {
	width: 100%;
}

.paymentTable { 
   max-width: none;   
}

.paymentTable input, .paymentTable select {
	width: 100%;
}

.paymentTable td {
	padding: 5px;
}

.paymentTable th:last-child {
	width: 15%;
}

.span5 .label, label.inline  {
    display: inline-block;
    width: 130px;   
}

.alertHolder {
	height: 45px;
}

.validationElement { 
	border: solid 1px red !important;
}

.required {
	color: red;
}

/* Personal Information */
.personalAlert {
	height: 20px;
	display: none;
}

.span6 .label, label.inline  {
    display: inline-block;
    width: 130px;   
}

#additionalCharges { 
 display: inline-block;
    width: 139px;
};

/* Orders */
.mainOrderTableHolder {
	height: 450px;
	overflow-y: auto;
}

.mainOrderTableHolder tr,
.orderTableHolder tr,
.officeTableHolder tr {
	cursor: default;
}

.orderForm a {
	cursor: pointer;
}

.orderTable td div {
	width: 15px;
	margin: auto;
}

.orderTable tr {
	cursor: default;
}

.orderTable td, .orderTable th {
	text-align: center;
}

.orderBox {
	min-width: 615px;
}

.orderForm textarea {
	width: 97%;
}

.orderForm select {
	width: 160px;
}

.orderTableHolder {
	height: 250px;
	overflow-y: auto;
}

.orderBox .modal-body {
	max-height: none;
	min-height: 400px;
}

.officeTableHolder {
	height: 400px;
	overflow-y: auto;
}

.inputCell {
	padding: 0 !important;
}
.inputCell input {
	padding: 4px;
	margin: 0px;
	height: 100%;
	border: none;

/* Followup */
.superBox { 
min-width: 800px;
height: 600px;
}

.superBox .modal-body {
   height: 521px;
   overflow-y: auto;
}
