body {
	height: 100%;
}
.viewHolder {
	background-color: rgb(200,200,200);
	padding: 1px;
	position: absolute;
	top: 66px;
	left: 0;
	right: 0;
	bottom: 0;
}

.mainNav {
	margin-bottom: 0px;
	height: 67px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.hoverNav {
	display: None;
	position: absolute;
	top: 66px;
	width: 100%;
	z-index: 100;
}

/* Fix the active nav item bug in Bootstrap */
.navbar .nav>li>a {
	padding: 10px 15px 10px;
}

.customerForm {
	margin: 20px auto;
	width: 846px;
}

table {
	background-color: white;
}

.customerTable {
	width: 90%;
	margin: auto;
}

.navCenterText {
	text-align: center;
}

.navCenterIcon {
	width: 25px;
	margin: auto;
}