<div class="roles">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list rolesList">
				<li class="nav-header">Roles</li>
				<!-- ko foreach: roles -->
				<li data-bind="css: {'active': !$index()}">
					<a href="" data-bind="text: name, click: $root.selectRole"></a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
		<div class="span9">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Role Name</label>
					<div class="controls">
							<input type="text" placeholder="Role Name" class="input-xxlarge" 
							       data-bind="value: role().name, enable: role().name() != 'Administrator'
							       && userRole().manageRoles() > 1" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Description</label>
					<div class="controls">
						<input type="text" placeholder="Description" class="input-xxlarge" 
						       data-bind="value: role().description, enable: role().name() != 'Administrator'
						       && userRole().manageRoles() > 1" />
					</div>
				</div>
			</form>
			<div class="modalAlert">
				<div class="alert alert-danger nameAlert">That role already exists.</div>
				<div class="alert alert-success">Saved successfully.</div>
			</div>
			<div class="roleContent">
				<div class="adminRole" data-bind="visible: role().name() == 'Administrator'">
					The Administrator role is the default role in PatientCare. Any user with this role 
					has access to all program information, data, and profiles. You cannot alter the rights
					of this group.
				</div>
				<div class="roleSelection" data-bind="visible: role().name() != 'Administrator'">
					<!-- ko with: role -->
					<div data-bind='compose: "settingsTabs/roles/patients.html"'></div>
					<div class="root">
						<span>Manage Schedule</span>
						<select class="input-medium pull-right" data-bind="value: manageSchedule, 
			    enable: $root.userRole().manageRoles() > 1">
							<option value="0">None</option>
							<option value="1">Read</option>
							<option value="2">Read/Write</option>
						</select>
					</div>
					<div class="root">
						<span>Manage Physician</span>
						<select class="input-medium pull-right" data-bind="value: managePhysician, 
			    enable: $root.userRole().manageRoles() > 1">
							<option value="0">None</option>
							<option value="1">Read</option>
							<option value="2">Read/Write</option>
						</select>
					</div>
					<div data-bind="compose: 'settingsTabs/roles/security.html'"></div>
					<div data-bind="compose: 'settingsTabs/roles/other.html'"></div>
					<!-- /ko -->
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid roleButtons" data-bind="visible: role().name() != 'Administrator' 
		 && userRole().manageRoles() > 1">
		<div class="pull-right">
			<button class="btn btn-success" data-bind="click: newRole, 
					visible: !newRoleFlag()">
				New
			</button>
			<button class="btn btn-warning" data-bind="visible: newRoleFlag(), click: cancelRole">
				Cancel
			</button>
			<button class="btn btn-primary" data-bind="click: saveRole">
				Save
			</button>
			<button class="btn btn-danger" data-bind="click: deleteRole">
				Delete
			</button>
		</div>
	</div>
</div>