<div class="usersTab">
	<form class="form-horizontal">
		<fieldset>
			<legend>Current Users Details</legend>
			<!-- ko with: user -->
			<div class="row-fluid">
			<div class="span5">
				<div class="control-group">
					<label class="control-label">First Name</label>
					<div class="controls">
						<input type="text" data-bind="value: firstName, enable: username() != 'administrator'" 
					       placeholder="First Name" class="input-medium" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Username</label> 
					<div class="controls">
						<input type="text" data-bind="value: username, enable: username() != 'administrator'" 
						   placeholder="Username" class="input-medium" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label> 
					<div class="controls">
						<input type="text" data-bind="value: email, enable: username() != 'administrator'" 
						   placeholder="Email" class="input-medium" />
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label">Last Name</label>
					<div class="controls">
						<input type="text" data-bind="value: lastName, enable: username() != 'administrator'" 
					       placeholder="Last Name" class="input-medium" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Role</label>
					<div class="controls">
						<select data-bind="value: roleId, enable: username() != 'administrator', 
								optionsCaption: 'Role', options: $root.roles, optionsText: 'name', 
								optionsValue: 'id'" class="input-medium">
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password
						<i data-toggle="tooltip" class="icon-question-sign"></i></label>
					<div class="controls">
						<input type="text" data-bind="value: $root.password, enable: username() != 'administrator'" 
					       placeholder="Password" class="input-medium" />
					    <div><small class="muted">Must be at least 8 characters.</small></div>
					</div>
				</div>
			</div>
			</div>
			<div class="marginbottom5">
			<div class="modalAlert">
				<div class="alert alert-danger newPasswordAlert">Must enter a password for new users.</div>
				<div class="alert alert-danger lengthAlert">Pasword must be at least 8 characters.</div>
				<div class="alert alert-success">Saved successfully.</div>
			</div>
			</div>
			<!-- /ko -->
			<div class="userButtons">
				<div class="pull-right">
					<button class="btn btn-success" data-bind="visible: !newFlag(), click: newUser">New</button>
					<button class="btn btn-warning" data-bind="visible: newFlag(), click: cancelUser">Cancel</button>
					<button class="btn btn-primary" data-bind="click: saveUser, 
						    visible: user().username() != 'administrator'">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class="userTableHolder">
		<table class="table table-hover table-striped table-bordered userTable">
			<thead>
				<tr>
					<th>Role</th>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: users">
				<tr>
					<td data-bind="text: $root.getRoleName($data), click: $root.selectUser"></td>
					<td data-bind="text: username, click: $root.selectUser"></td>
					<td data-bind="text: firstName, click: $root.selectUser"></td>
					<td data-bind="text: lastName, click: $root.selectUser"></td>
					<td data-bind="text: email, click: $root.selectUser"></td>
					<td><button class="btn btn-danger" data-bind="visible: username() != 'administrator'">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>