<!-------------------------------------------------------------------------------------------------
 | View: Checkout
 | Author: Imran Esmail 
 | Description: This View contains all of the logic for the Checkotu Tab.
 ------------------------------------------------------------------------------------------------->
<div class="checkoutTab checkout">
	<div class="form-inline">
		<div class="row-fluid">
			<fieldset>
				<legend>Co-pay Details</legend>
				<div class="alertHolder">
					<div class="alert alert-danger allAlert">You are missing required fields.</div>
					<div class="alert alert-danger modeAlert">Mode is a required field .</div>
					<div class="alert alert-danger amountAlert">Amount is a required fields.</div>
					<div class="alert alert-success checkoutAlert">Successfully updated.</div>
				</div>
				 <!-- ko with: checkout -->
					<div class="span5">
						<div class="marginBottom5">
							<span class="label">Select Co-Payment</span>
							<div class="insuranceOptions"> 
								<div class="marginBottom5">   
									<label class="checkbox inline coPayCheck">
										<input type="checkbox"  data-bind="checked: primaryInsurance,enable: $root.role().checkout() > 1" />
										<span>Primary</span>($<span data-bind="text: $root.primaryCo"></span>)
									</label>
								</div>
								<div class="marginBottom5">  
									<label class="checkbox inline coPayCheck"> 
										<input type="checkbox" data-bind="checked: secondaryInsurance,enable: $root.role().checkout() > 1" />
										<span>Secondary</span>($<span data-bind="text: $root.secondaryCo,enable: $root.role().checkout() > 1"></span>)  
									</label>
								</div>
								<div class="marginBottom5"> 
									<label class="checkbox inline coPayCheck">      
										<input type="checkbox" data-bind="checked: otherInsurance,enable: $root.role().checkout() > 1" />
										<span>Other</span>($<span data-bind="text: $root.otherCo,enable: $root.role().checkout() > 1"></span>)
									</label>      
								</div> 
							</div>         
						</div>
						<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="inputCopayment">Co-Payment amount</label>
							<div class="controls">
							<input type="text" id = "inputCopayment"class="input-small" placeholder="0" data-bind="value:$root.copayment,enable: $root.role().checkout() > 1"disabled/>
							</div>
						</div>
						<div class="control-group">   
							<label class="control-label" for="otherCopay">Other Copay</label>
							<div class="controls">
							<input type="text" id="otherCopay"class="input-small" placeholder="0" data-bind="value: otherCopay,enable: $root.role().checkout() > 1"/>
							</div>
						</div>
						<div class="control-group">   
							<label id="additionalCharges" class="control-label checkbox inline">
							<input data-bind="checked: editAdditionalCharge,enable: $root.role().checkout() > 1" type="checkbox" /><span>Additional Charges</span>
							</label> 
							<div class="controls">
							<input type="text" class="input-small" placeholder="0" data-bind="enable: editAdditionalCharge && $root.role().checkout() > 1,
							 value: additionalCharges"/>
							</div>
						</div>       
						<div class="control-group">     
							<label class="control-label" for="insurancePortion">Insurance Portion</label>
							<div class="controls">
							<input type="text" class="input-small" placeholder="0" data-bind="value: insurancePortion" disabled/>
							</div>
						</div>
						<div class="control-group">
							<span class="label label-inverse control-label">Total Receivable</span>
							<div class="controls">
							<input type="text" class="input-small" placeholder="0" data-bind="value: $root.totalReceivable"disabled/>  
							</div>
						</div>
						<div class="control-group">
							<input type="text" class="input-large" placeholder="Comments" data-bind="value: comment,enable: $root.role().checkout() > 1"/>
						</div>
						<div class="marginBottom5">
							<a data-bind="click:$root.selectLink">Additional Details</a>
						</div>
                        </form>						
					</div> 
				<!-- /ko -->  
					<div class="span6 checkoutRight">  
						<div class="checkoutTableHolder marginBottom5">
					<!-- ko with: paymentMethod -->  
							<table class="paymentTable table table-bordered table-hover">
									<thead>
										<tr>       
											<th>Modes</th>   
											<th>Particulars</th>
											<th>Amount</th>
											<th data-bind="visible: $root.role().checkout() > 1"></th>
										</tr>
									</thead> 
									<tbody data-bind="foreach: $root.paymentMethods">     
										 <tr> 
											<td class="input-small">											
												<select class="input-small" data-bind="event: {select: $root.addRow},value: mode,enable: $root.role().checkout() > 1">
													<option value=""></option> 
													<option value="Cash">Cash</option> 
													<option value="Credit">Credit</option>
													<option value="Debit">Debit</option>
												</select>
											</td>
											<td class="input-small">											 
												<input class="input-medium" type="text"	data-bind="
													event: {keyup: $root.addRow},
													value: particulars, 
													valueUpdate: 'afterkeydown',enable: $root.role().checkout() > 1" />
											</td> 
											<td class="input-small">									
												<input class="input-small" type="text" data-bind="
													event: {keyup: $root.addRow},
													value: amount, 
													valueUpdate: 'afterkeydown',enable: $root.role().checkout() > 1" />
											</td> 
											<td data-bind="visible: $root.role().checkout() > 1">
												<a class="btn" data-bind="visible: mode()!='',click:$root.removePaymentMethod,visible: $root.role().checkout() > 1"><i class="icon-remove"></i></a>
											</td>
										</tr> 
									</tbody> 
							</table>
							<!-- /ko -->  
						</div>
						<div class="marginBottom5 pull-right">
							<span class="label label-inverse">Total Payment</span>
							<input type="text"  class="input-small" placeholder="0" data-bind="value:$root.totalPay"disabled/>
						</div>
						<div class="marginBottom5 pull-right">
							<span class="label label-important">Balance</span>
							<input type="text" class="input-small" placeholder="0" data-bind="value: $root.balance" disabled/>
						</div> 
					</div>     
			</fieldset>      
		</div>
	</div>
<!-- ko with: checkout -->
<div class="checkoutTableHolder marginBottom5">
	<table class="table table-bordered table-hover">      
		<thead>
			<tr>
				<th>Date of Service</th>        
				<th>CoPay Amount</th>     
				<th>Other Co-Pay</th>
				<th>Insurance Portion</th>
				<th>Additional Charges</th>  
				<th>Paid Amount</th>
				<th>Balance</th>
				<th>Comments</th>
			</tr> 
		</thead> 
		<tbody data-bind="foreach: $root.checkouts">      
				<tr data-bind="click: $root.setCheckOutFields">     
					<td data-bind="text: date"></td>   
					<td data-bind="text: copayAmount"></td>
					<td data-bind="text: otherCopay"></td> 
					<td data-bind="text:insurancePortion"></td>
					<td data-bind="text: additionalCharges"></td>
					<td data-bind="text: totalPayment"></td>
					<td data-bind="text: balance"></td>
					<td data-bind="text: comment"></td>						     
				</tr>          
		</tbody> 
	</table>
</div>
<!-- /ko --> 
</div> 
<!--Footer -->
<div class="footer">
	<div class="pull-right marginBottom5">
		<button type="button" class="btn btn-small" data-bind="click:$root.printCheckout,visible: $root.role().checkout() > 1">Print Receipt</button>
		<button type="button" class="btn btn-small" data-bind="click:$root.printCheckoutOrder,visible: $root.role().checkout() > 1">PrintOrder</button>
		<button type="button" class="btn btn-small btn-primary" data-bind="click:$root.savePaymentMethod,visible: $root.role().checkout() > 1">Save</button>
	</div>
</div><!-- End Footer -->

