<div class="formScroll">
				<form class="form-inline">
					<div class="row-fluid">
						<fieldset>
							<legend>Search</legend>
							<div class="marginBottom5">
								<select class="input-medium" data-bind="value:documentType,event:{ change:searchByType}">
									<option value="Document Type">Document Type</option>
									<option value="All">All</option>
									<option value="Labs">Labs</option>
									<option value="X-Ray">X-Ray</option>
									<option value="Pathology">Pathology</option>
									<option value="Procedures">Procedures</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</fieldset>   
					</div>
				     <!-- ko with: doc -->
					<div class="row-fluid">
						<fieldset>   
							<legend>Details</legend>      
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Document Type" data-bind="value: type"/>
							   	<div class="fileupload fileupload-new pull-right" data-bind="uploader: true">    
                                 </div>
                            </div> 
							<div class="marginBottom5">
								<textarea class="input-xxlarge" rows="3" placeholder="Comment" data-bind="value: comment"></textarea>
							</div>  
							<div class="marginBottom5">
								<label class="checkbox inline">
									<input type="checkbox" data-bind="checked:isReviewed"/><span>Is Reviewed?</span>
								</label>      
								<button type="button" data-bind="click: $root.saveDocument" class="btn btn-small btn-primary pull-right" >Save</button>
							</div>
						</fieldset>  
					</div> 
				 <!-- /ko -->
				</form>
				<div class="row-fluid">
					<div class="marginBottom5">
						<table class="table table-bordered table-hover">   
							<thead>
								<tr>
									<th>Received Date</th>
									<th>DOS</th>
									<th>Doc Type</th>
									<th>Is Reviewed?</th>     
									<th>Comments</th>      
								</tr>
							</thead>    
								<tbody data-bind="foreach: documents">     
									<tr data-bind="click: $root.setDocumentFields">   
										<td data-bind="text: date"></td>      
										<td data-bind="text: DOS"></td>
										<td data-bind="text: type"></td>     
										<td>
											<div data-bind="visible: isReviewed">
												<i class="icon-ok checkboxIcon"></i>
											</div>
										</td>
										<td data-bind="text: comment"></td>	    					     
									</tr>            
								</tbody>               
						</table>
					</div>    
				</div>     
			</div> 