<div class="formScroll">
			     <!-- ko with: doc -->
				<form class="form-inline">
					<div class="row-fluid">
						<fieldset>
							<legend>Search</legend>
							<div class="marginBottom5">
								<select class="input-medium">
									<option>Document Type</option>
									<option>All</option>
									<option>Labs</option>
									<option>X-Ray</option>
									<option>Pathology</option>
									<option>Procedures</option>
									<option>Other</option>
								</select>
								<div class="pull-right">   
									<button type="button"class="btn btn-small">Search</button>
									<button type="button"class="btn btn-small btn-warning">Clear</button>
								</div>
							</div>
						</fieldset>   
					</div>
				 
					<div class="row-fluid">
						<fieldset>   
							<legend>Details</legend>      
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Document Type" data-bind="value: type"/>
							   <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                 <div class="input-append">
                                     <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                                     <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
                                     <input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                 </div>
                             </div>
							</div>
							<div class="marginBottom5">
								<textarea class="input-xxlarge" rows="3" placeholder="Comment" data-bind="value: comment"></textarea>
							</div>  
							<div class="marginBottom5">
								<label class="checkbox inline">
									<input type="checkbox" data-bind="checked:isReviewed"/><span>Is Reviewed?</span>
								</label>      
								<button type="button"class="btn btn-small btn-primary pull-right" >Save</button>
							</div>
						</fieldset>  
					</div>     
				</form>
				<!-- /ko -->
				<div class="row-fluid">
					<div class="marginBottom5">
						<table class="table table-bordered table-hover">   
							<thead>
								<tr>
									<th></th>
									<th>Received Date</th>
									<th>DOS</th>
									<th>Doc Type</th>
									<th>Is Reviewed?</th>     
									<th>Comments</th>      
								</tr>
							</thead>    
								<tbody data-bind="foreach: documents">     
									<tr data-bind="click: $root.setDocumentFields">   
										<td></td>  
										<td data-bind="text: date"></td>      
										<td data-bind="text: DOS"></td>
										<td data-bind="text: type"></td>     
										<td data-bind="text:isReviewed"></td>
										<td data-bind="text: comment"></td>	    					     
									</tr>            
								</tbody>               
						</table>
					</div>    
				</div>     
			</div> 