 <div class="formScroll followup">
	<!-- ko with: followup -->
	<form class="form-inline">     
		<div class="row-fluid">
		<div class="alertHolder">
					<div class="alert alert-danger allAlert">You are missing required fields.</div>
					<div class="alert alert-danger valueAlert">A value is required.</div>
					<div class="alert alert-danger unitAlert">A unit is required.</div>
					<div class="alert alert-success followupAlert">Successfully updated.</div>
		 </div>
			<fieldset>
				<legend>Schedule a FollowUp</legend>
				<div class="marginBottom5">  
					<label class="radio inline">
						<input type="radio" name="followup" value="1"
							data-bind="checked: type" />
						Followup in
					</label>
					<input type="text" placeholder="0" class="input-small"
						data-bind="value: value, visible: type() == '1'" /> 
					<select class="input-small" 
						data-bind="value: unit, visible: type() == '1'">
						<option value="">Time Period</option>         
						<option value="Days">Days</option>     
						<option value="Weeks">Weeks</option>            
						<option value="Months">Months</option>  
						<option value="Years">Years</option> 
					</select>   
					<input type="text" placeholder="Comment" 
						data-bind="value: comment, visible: type() == '1'" />
				</div>
				<div class="marginBottom5">
					<label class="radio inline">
						<input type="radio" name="followup" value="2"
						data-bind="checked: type" />
						Followup after
					</label>   
					<input type="text" placeholder="Comment" 
					data-bind="value: comment, visible: type() == '2'" />   
				</div>   
				<div class="marginBottom5">
					<label class="radio inline">
						<input type="radio" name="followup" value="3"
						data-bind="checked: type" />
						Followup PRN
					</label>  
					<input type="text" placeholder="Comment" 
					data-bind="value: comment, visible: type() == '3'" />  
				</div>
				<div class="marginBottom5">
					<label class="radio inline">   
						<input type="radio" name="followup" value="4" 
						data-bind="checked: type" />
						No Followup
					</label> 
					<input type="text" placeholder="Comment" 
					data-bind="value: comment, visible: type() == '4'" />     
				</div>   
				<div class="pull-right">   
					<button type="button" class="btn btn-small btn-primary" data-bind="click:$root.saveFollowup">Save</button>
					<button type="button" class="btn btn-small btn-danger" data-bind="click:$root.deleteFollowup">Delete</button>
				</div>
			</fieldset>
		</div>  
	</form>
	<!-- /ko --> 
	<div class="row-fluid">     
		<table class="table table-bordered table-hover">      
			<thead>   
				<tr>    
					<th>Service Date</th>
					<th>Plan</th>
					<th>Followup In</th>  
					<th>Period</th>     
					<th>Comments</th>      
				</tr>
			</thead>        
			<tbody data-bind="foreach: followups">    
				<tr data-bind="click: $root.setFields">     
					<td data-bind="text: serviceDate"></td>
					<td data-bind="text: plan"></td>
					<td data-bind="text: value"></td>
					<td data-bind="text: unit()"></td>
					<td data-bind="text: comment"></td>						     
				</tr>          
			</tbody>          
		</table>     
	</div>       
</div> 