<div class="formScroll">
				<!-- ko with: phoneLog -->
				<form class="form-inline">
					<div class="row-fluid">
						<fieldset>
							<legend>Edit phone log details</legend>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Call Date"
									data-bind="value: datetime,data-bind= datepicker: true"/>
								<select class="input-medium" data-bind="value:type">
									<option>Call Type</option>
									<option>Incoming</option>
									<option>Outgoing</option>
								</select>
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Caller" data-bind="value: caller"/>
								<input type="text" class="input-medium" placeholder="Attended By" data-bind="value: attendedBy"/>
							</div>
							<div class="marginBottom5">
								<textarea class="input-xxlarge" rows="3" placeholder="Message" data-bind="value: message"></textarea>
							</div>
							<div class="marginBottom5">
								<span class="radio inline">Action Required</span>
								<label class="radio inline"> 
									<input type="radio" name="actionRequired"  data-bind="checked: actionRequired" value="Yes" /><span>Yes</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="actionRequired"   data-bind="checked:actionRequired"value="No" /><span>No</span>
								</label>  
								<select class="input-medium offset1" data-bind='options: $root.myArray,optionsCaption: "Assigned to",value:assignedTo'>      
								</select>      
							</div>     
							<div class="marginBottom5 pull-right">
								<button type="button" id ="addButton" class="btn btn-small btn-success" data-bind="click:$root.phoneLogAdd(),visible: !$root.phoneLogState()">New</button>
								<button type="button" class="btn btn-small btn-primary" data-bind="visible: !$root.phoneLogSave()">Save</button>
								<button type="button" id ="cancelButton" class="btn btn-small btn-danger" data-bind="click: $root.phoneLogCancel,visible: $root.phoneLogState()">Cancel</button>
							</div>
						</fieldset>
					</div>
				</form>
				<!-- /ko -->
			</div>