<div class="formScroll formPadding">
				<div class="row-fluid">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Medicine Name</th>
								<th>Physician</th>
								<th>Created By</th>
								<th>Mode</th>
								<th>Comments</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: $root.medicationOrders">     
							<tr data-bind="click: $root.selectRow">   
								<td data-bind="text: dispensedQuantity"></td>   
								<td data-bind="text: medicineName"></td>
								<td data-bind="text: quantity"></td>
								<td data-bind="text: strength"></td>  
								<td data-bind="text:sigs"></td>
								<td data-bind="text: refillQuantity"></td>						     
							</tr>          
					</tbody>
					</table>
				</div>
			</div>
			<div class="pull-right marginBottom5">
					<button type="button" class="btn btn-small">Print</button>
					<button type="button" class="btn btn-small" data-bind="click:$root.selectRow">Add</button>
					<button type="button" class="btn btn-small btn-primary">Delete</button>
		    </div>