<div class="row-fluid">
	<div class="borderBottom5 offset9">
		<label class="checkbox inline">
			<input type="checkbox"/><span>Complete</span>
		</label>    
	</div>
	<div class="borderBottom5">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Service Date</th>
					<th>Billing Complete</th>
					<th>Comments</th>
				</tr> 
			</thead>
			<tbody>
				<tr data-bind="click:$root.selectSuperbill">
					<td></td>
					<td style="text-align: center; vertical-align: middle;"><input type="checkbox" name=""></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>