<!-------------------------------------------------------------------------------------------------
 | View: Superbill
 | Author: Imran Esmail 
 | Description: This View contains all of the logic for the Superbill.
 ------------------------------------------------------------------------------------------------->
<!--Row-Fluid -->
<div class="row-fluid">
	<div class="borderBottom5 offset9">   
	</div>
	<div class="borderBottom5">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Service Date</th>
					<th>Billing Complete</th>
					<th>Comments</th>
				</tr> 
			</thead>
			<tbody data-bind="foreach: $root.superBills">
				<tr data-bind="click:$root.selectSuperbill">
					<td data-bind="text: date"></td>
					<td>
						<div data-bind="visible: isComplete" >
							<i class="icon-ok"></i>
						</div>
					</td>
					<td data-bind="text: comment"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!--End Row-Fluid -->