<div class="rowFuild">
				<div class="borderBottom5 offset9">
					<label class="checkbox inline">
						<input type="checkbox"/><span>Complete</span>
					</label>
				</div>
				<div class="borderBottom5">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Service Date</th>
								<th>Billing Complete</th>
								<th>Comments</th>
							</tr> 
						</thead>
						<body>
							<td></td>
							<td style="text-align: center; vertical-align: middle;"><input type="checkbox" name=""></td>
							<td></td>
						</body>
					</table>
				</div>
			</div>