
			<div class="formScroll">
				<form id="form-inline">
					<!-- Insurance Type -->
					<div class="row-fluid">
						<fieldset>
							<legend>Edit Insurance Information</legend>
							<div class="marginBottom5">
								<span class="radio inline">Primary Insured person:</span>
								<label class="radio inline">
									<input type="radio" data-bind="checked: insuredPerson" 
										 name="Self" value="1" />
									Self
								</label>
								<label class="radio inline">
									<input type="radio" data-bind="checked: insuredPerson" 
										 name="Self" value="2" />
									Not&nbsp;Insured   
								</label>
								<label class="radio inline">
									<input type="radio" data-bind="checked: insuredPerson" 
										 name="Self" value="3" />
									Other
								</label>
								<input type="text" class="radio inline input-large" data-bind="value: $root.patient().otherName" placeholder="Insurance Type" />
							</div>
						</fieldset>   
					</div>   
					<!-- Other information -->   
					<div data-bind="visible: insuredPerson() == '3'">
					<!-- ko with: guarantor -->
						<!-- Left Column -->
						<div class="row-fluid">
							<div class="span5">    
								<!-- Name of Insured -->
								<input type="text" data-bind="value: name" class="input-large" 
									placeholder="Name of Insured/Responsible"/>
								<!-- Insured Address -->
								<fieldset>
									<legend>Address</legend>
									<div class="marginBottom5">
										<label class="radio inline">
											<input data-bind="checked: $root.addressEnable" type="radio" name="address" value="same" />
											Same&nbsp;as&nbsp;patient
										</label>
										<label class="radio inline">
											<input data-bind="checked: $root.addressEnable" type="radio" name="address" value="given" />
											Given
										</label>
									</div>
									<div class="marginBottom5">
										<input type="text" class= "input-large" placeholder="Address" 
											data-bind="enable: $root.addressEnable() == 'given', value: address" />
										<input type="text" class="input-small" placeholder="City" 
											data-bind="enable: $root.addressEnable() == 'given', value: city" />
										<select data-bind="enable: $root.addressEnable() == 'given', options: $root.form.states, optionsText: 
											'text', optionsValue: 'value', optionsCaption: 'State', value: state" class="input-medium">
										</select>
										<input type="text" class= "input-small" placeholder="ZipCode" 
											data-bind="enable: $root.addressEnable() == 'given', value: zip" />
										<select data-bind="enable: $root.addressEnable() == 'given', options: $root.form.countries, optionsText: 
											'text', optionsValue: 'value', optionsCaption: 'Country', value: country" class="input-medium">
										</select>
									</div>
								</fieldset>
							</div>
							<!-- Right Column -->
							<div class="offset1 span5">
								<!-- Relationship with Patient -->
								<select data-bind="value: relationship">
									<option>Relationship with Insured</option>
									<option value="father">Father</option>
									<option value="mother">Mother</option>
									<option value="spouse">Spouse</option>
									<option value="daughter">Daughter</option>
									<option value="son">Son</option>
									<option value="other">Other</option>
								</select>
								<!-- Employer Information -->
								<fieldset>
									<legend>Employer</legend>
									<div class="marginBottom5">
										<label class="radio inline">
											<input type="radio"  name="employer" value="same"
												data-bind="checked: $root.employerEnable" />
											Same&nbsp;as&nbsp;patient
										</label>
										<label class="radio inline">
											<input type="radio"  name="employer" value="given"
												data-bind="checked: $root.employerEnable" />
											As&nbsp;Given
										</label>
										<label class="radio inline">
											<input type="radio"  name="employer" value="na"
												data-bind="checked: $root.employerEnable" />
											NA
										</label>
									</div>
									<div>
										<input type="text" class= "input-large"  placeholder="Name"
											data-bind="enable: $root.employerEnable() == 'given', value: employer" />
										<input type="text" class= "input-small"  placeholder="Phone" 
											data-bind="enable: $root.employerEnable() == 'given', value: employerPhone" />
										<input type="text" class= "input-mini" placeholder="Ext"
											data-bind="enable: $root.employerEnable() == 'given', value: employerExt" />
									</div>
								</fieldset>
							</div>
						</div>
						<!-- SSN and DOB -->
						<div class="row-fluid">
							<div class="span5">
								<input type="text" data-bind="enable: idSame() == false,
									 value: idNumber" class="input-small" placeholder="ID" />
								<input type="text" data-bind="enable: idSame() == false,
									value: idType" class="input-small" placeholder="ID Type" />
								<label class="checkbox inline">
									<input type="checkbox" data-bind="checked: idSame" />
									<span>same&nbsp;as&nbsp;patient</span>
								</label>
							</div>
							<div class="offset1 span5">
								<input type="text" class="input-small" placeholder="Date of Birth"
									data-bind="enable: dobSame() == false, datepicker: true" />
								<label class="checkbox inline">
									<input type="checkbox" data-bind="checked: dobSame" /><span>same&nbsp;as&nbsp;patient</span> 
								</label>
							</div>
						</div>
					<!-- /ko -->
					</div>
				</form>
				<div class="row-fluid">
					<!-- Insurance Detail Tabs -->
					<div class="tabbable formTabs">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#primaryPane" data-toggle="tab">Primary Insurance</a></li>
							<li><a href="#secondaryPane" data-toggle="tab">Secondary Insurance</a></li>
							<li><a href="#otherPane" data-toggle="tab">Other Insurance</a></li>
						</ul>
						<div class="tab-content">
							<!-- Primary Insurance -->
							<div id="primaryPane" class="tab-pane active">
								<!-- ko with: primaryInsurance -->
								<form class="form-inline formPadding">
										<div class="marginBottom5">
										<input type="text" data-bind="value: companyName" 
											class="input-large" placeholder="Insurance Company" />
										<input type="text" data-bind="value: effectiveDate, datepicker: true"
											class="input-small"  placeholder="Effective Date" />
										</div>
										<div class="marginBottom5">
											<input type="text" data-bind="value: policyNumber"
												class="input-medium" placeholder="ID Number" />
											<input type="text" data-bind="value: groupNumber"
												class="input-small" placeholder="Group Number" />
											<span class="radio inline">Subject to Pre-Existing Clause?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="1" />
												<span>Yes</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="0" />
												<span>No</span>
											</label>
										</div>
										<div class="marginBottom5">
											<span class="radio inline">Plan?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													name="plant" value="hmo" />
												<span>HMO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													name="plant" value="epo" />
												<span>EPO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													name="plant" value="pos" />
												<span>POS</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan" 
													name="plant" value="ppo" />
												<span>PPO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													name="plant" value="other" /><span>Other</span>
											</label>
											<input type="text" data-bind="value: planOther"
												class="input-small" placeholder="Plan Type" />
											<span class="radio inline">Referral Required?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="1" />
												<span>Yes</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="0" />
												<span>No</span>
											</label>
										</div>
										<div class="row-fluid">
											<fieldset>
												<legend>Deductible/Out of Pocket/Co-Payment</legend>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: deductible" 
															class="input-small" placeholder="Deductible" />
													</div>
													<span class="radio inline">Met Deductibles</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingDeductible, enable: metDeductible() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: outOfPocket"
															class="input-small" placeholder="Out of pocket" />
													</div>
													<span class="radio inline">Met Out of pocket</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingOutOfPocket, enable: metOutOfPocket() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<strong>OV/LAB</strong>    
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: copayment" 
															class="input-small" placeholder="Co-Payment" />
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: patientPortion"
															class="input-small" placeholder="Patient Portion" />
														<span class="add-on">%</span>
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: insurancePortion" 
															class="input-small" placeholder="Ins.Portion" />
														<span class="add-on">%</span>
													</div>
												</div>
											</fieldset>
										</div>
										<div class="row-fluid"><!-- Can add row-fluid class here -->
											<fieldset>
												<legend>Verification</legend>
												<div class="marginBottom5">
													<input type="text" data-bind="value: contactName" 
														class="input-medium" placeholder="Insurance Contact" />
													<input type="text" data-bind="value: contactPhone" 
														class="input-medium" placeholder="Phone Number" />
													<input type="text" data-bind="value: contactExt" 
														class="input-mini" placeholder="Ext" />
												</div>
												<div class="marginBottom5">
													<span class="radio inline">Verified ?</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification"
															 name="plan" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification" 
															 name="plan" value="0" />
														<span>No</span>
													</label>   
													<input type="text" class="input-medium" data-bind="value: verificationDate,
													datepicker: true" placeholder="Verification Date" />
													<div class="input-append bootstrap-timepicker">
														<input class="timepicker input-small" 
															data-bind="value: verificationTime, timepicker: true" type="text" />
														<span class="add-on"><i class="icon-time"></i></span>
													</div>
													<input type="text" data-bind="value: confirmationNumber" 
														class="input-small" placeholder="Confirmation #" />
												</div>
											</fieldset>
										</div>
								</form><!-- /ko -->
							</div>
							<!-- Secondary Insurance -->
							<div id="secondaryPane" class="tab-pane">
								<!-- ko with: secondaryInsurance -->
								<form class="form-inline formPadding">       
										<div class="marginBottom5">
										<input type="text" data-bind="value: companyName" 
											class="input-large" placeholder="Insurance Company" />
										<input type="text" data-bind="value: effectiveDate,datepicker: true"  
											class="input-small" placeholder="Effective Date" />
										</div>
										<div class="marginBottom5">   
											<input type="text" data-bind="value: policyNumber"
												class="input-medium" placeholder="ID Number" />
											<input type="text" data-bind="value: groupNumber"
												class="input-small" placeholder="Group Number" />
											<span class="radio inline">Subject to Pre-Existing Clause?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="1" />
												<span>Yes</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="0" />
												<span>No</span>
											</label>
										</div>
										<div class="marginBottom5">
											<span class="radio inline">Plan?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="hmo" />
												<span>HMO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="epo" />
												<span>EPO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="pos" />
												<span>POS</span>
											</label>        
											<label class="radio inline">    
												<input type="radio" data-bind="checked: plan" 
													 name="plan" value="ppo" />
												<span>PPO</span>   
											</label>    
											<label class="radio inline">
												<input type="radio"  name="plan" value="Other" /><span>Other</span>
											</label>
											<input type="text" 
												class="input-small" placeholder="Self" />
											<span class="radio inline">Referral Required?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="1" />
												<span>Yes</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="0" />
												<span>No</span>
											</label>
										</div>
										<div class="row-fluid">
											<fieldset>
												<legend>Deductible/Out of Pocket/Co-Payment</legend>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: deductible" 
															class="input-small" placeholder="Deductible" />
													</div>
													<span class="radio inline">Met Deductibles</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingDeductible, enable: metDeductible() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: outOfPocket"
															class="input-small" placeholder="Out of pocket" />
													</div>
													<span class="radio inline">Met Out of pocket</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingOutOfPocket, enable: metOutOfPocket() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<strong>OV/LAB</strong>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: copayment" 
															class="input-small" placeholder="Co-Payment" />
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: patientPortion"
															class="input-small" placeholder="Patient Portion" />
														<span class="add-on">%</span>
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: insurancePortion" 
															class="input-small" placeholder="Ins.Portion" />
														<span class="add-on">%</span>
													</div>
												</div>
											</fieldset>
										</div>
										<div class="row-fluid"><!-- Can add row-fluid class here -->
											<fieldset>
												<legend>Verification</legend>
												<div class="marginBottom5">
													<input type="text" data-bind="value: contactName" 
														class="input-medium" placeholder="Insurance Contact" />
													<input type="text" data-bind="value: contactPhone" 
														class="input-medium" placeholder="Phone Number" />
													<input type="text" data-bind="value: contactExt" 
														class="input-mini" placeholder="Ext" />
												</div>
												<div class="marginBottom5">
													<span class="radio inline">Verified ?</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification"
															 name="plan" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification" 
															 name="plan" value="0" />
														<span>No</span>
													</label>
													<input type="text" class="input-medium" data-bind="value: verificationDate, 
														datepicker: true" placeholder="Verification Date" />
													<div class="input-append bootstrap-timepicker">
														<input class="timepicker input-small" 
															data-bind="value: verificationTime, timepicker: true" type="text" />
														<span class="add-on"><i class="icon-time"></i></span>
													</div>
													<input type="text" data-bind="value: confirmationNumber" 
														class="input-small" placeholder="Confirmation #" />
												</div>
											</fieldset>
										</div>
								</form><!-- /ko -->
							</div>
							<!-- Other Insurance -->
							<div id="otherPane" class="tab-pane">
								<!-- ko with: otherInsurance -->
								<form class="form-inline formPadding">       
										<div class="marginBottom5">
										<input type="text" data-bind="value: companyName" 
											class="input-large" placeholder="Insurance Company" />
										<input type="text" data-bind="value: effectiveDate,datepicker: true"
											class="input-small" placeholder="Effective Date" />
										</div>
										<div class="marginBottom5">   
											<input type="text" data-bind="value: policyNumber"
												class="input-medium" placeholder="ID Number" />
											<input type="text" data-bind="value: groupNumber"
												class="input-small" placeholder="Group Number" />
											<span class="radio inline">Subject to Pre-Existing Clause?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="1" />
												<span>Yes</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: existingClause"
													 name="clauseOption" value="0" />
												<span>No</span>
											</label>
										</div>
										<div class="marginBottom5">
											<span class="radio inline">Plan?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="hmo" />
												<span>HMO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="epo" />
												<span>EPO</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan"
													 name="plan" value="pos" />
												<span>POS</span>
											</label>
											<label class="radio inline">
												<input type="radio" data-bind="checked: plan" 
													 name="plan" value="ppo" />
												<span>PPO</span>
											</label>
											<label class="radio inline">
												<input type="radio"  name="plan" value="Other" /><span>Other</span>
											</label>
											<input type="text" data-bind="value: planOther"
												class="input-small" placeholder="Plan Type" />
											<span class="radio inline">Referral Required?</span>
											<label class="radio inline">
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="1" />
												<span>Yes</span>
											</label>     
											<label class="radio inline">  
												<input type="radio" data-bind="checked: referralRequired"
													name="referalAuthorization" value="0" />
												<span>No</span>
											</label>    
										</div>  
										<div class="row-fluid">
											<fieldset>
												<legend>Deductible/Out of Pocket/Co-Payment</legend>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: deductible" 
															class="input-small" placeholder="Deductible" />
													</div>
													<span class="radio inline">Met Deductibles</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metDeductible" 
															name="metDeductible" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingDeductible, enable: metDeductible() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: outOfPocket"
															class="input-small" placeholder="Out of pocket" />
													</div>
													<span class="radio inline">Met Out of pocket</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: metOutOfPocket" 
															name="metPocket" value="0" />
														<span>No</span>
													</label>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" class="input-small" placeholder="Remaining"
															data-bind="value: remainingOutOfPocket, enable: metOutOfPocket() == '0'" />
													</div>
												</div>
												<div class="marginBottom5">
													<strong>OV/LAB</strong>
													<div class="input-prepend">
														<span class="add-on">$</span>
														<input type="text" data-bind="value: copayment" 
															class="input-small" placeholder="Co-Payment" />
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: patientPortion"
															class="input-small" placeholder="Patient Portion" />
														<span class="add-on">%</span>
													</div>
													<div class="input-append">
														<input type="text" data-bind="value: insurancePortion" 
															class="input-small" placeholder="Ins.Portion" />
														<span class="add-on">%</span>
													</div>
												</div>
											</fieldset>
										</div>
										<div class="row-fluid"><!-- Can add row-fluid class here -->
											<fieldset>
												<legend>Verification</legend>
												<div class="marginBottom5">
													<input type="text" data-bind="value: contactName" 
														class="input-medium" placeholder="Insurance Contact" />
													<input type="text" data-bind="value: contactPhone" 
														class="input-medium" placeholder="Phone Number" />
													<input type="text" data-bind="value: contactExt" 
														class="input-mini" placeholder="Ext" />
												</div>
												<div class="marginBottom5">
													<span class="radio inline">Verified ?</span>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification"
															 name="plan" value="1" />
														<span>Yes</span>
													</label>
													<label class="radio inline">
														<input type="radio" data-bind="checked: verification" 
															 name="plan" value="0" />
														<span>No</span>
													</label>
													<input type="text" class="input-medium" data-bind="value: verificationDate,
													datepicker: true" placeholder="Verification Date" />
													<div class="input-append bootstrap-timepicker">
														<input class="timepicker input-small" 
															data-bind="value: verificationTime, timepicker: true" type="text" />
														<span class="add-on"><i class="icon-time"></i></span>
													</div>
													<input type="text" data-bind="value: confirmationNumber" 
														class="input-small" placeholder="Confirmation #" />
												</div>
											</fieldset>
										</div>
								</form><!-- /ko -->
							</div>
						</div><!-- End tab-content -->
					</div><!-- End tabbable -->
				</div>
			</div>
			<div class="row-fluid">
				<div class="pull-right">
					<button type="button" class="btn btn-small">Print</button>
					<button type="button" class="btn btn-small btn-primary">Save</button>
					<button type="button" class="btn btn-small btn-danger">Cancel</button>
				</div>
			</div>
		