<div>
	<div class="root">
		<span><i class="icon-plus" data-bind="click: $root.toggleChild"></i></span>
		<span>Other Options</span>
		<select class="input-medium pull-right" data-bind="value: otherOptions, 
			    enable: $root.userRole().manageRoles() > 1">
			<option value="0">None</option>
			<option value="1">Read</option>
			<option value="2">Read/Write</option>
		</select>
	</div>
	<div class="child">
		<div class="root">
			<span>Clinic Details</span>
			<select class="input-medium pull-right" data-bind="value: clinicDetails, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Manage Reason Code</span>
			<select class="input-medium pull-right" data-bind="value: manageReasonCode, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Manage Practice Type</span>
			<select class="input-medium pull-right" data-bind="value: managePracticeType, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Superbill</span>
			<select class="input-medium pull-right" data-bind="value: superbill, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Co-Pay Collection</span>
			<select class="input-medium pull-right" data-bind="value: copayCollection, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Insurance Verification</span>
			<select class="input-medium pull-right" data-bind="value: insuranceVerification, 
			    enable: $root.userRole().manageRoles() > 1">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
</div>