<div>
	<div class="root">
		<span><i class="icon-plus" data-bind="click: $root.toggleChild"></i></span>
		<span>Other Options</span>
		<select data-bind="value: otherOptions" class="input-medium pull-right">
			<option value="0">None</option>
			<option value="1">Read</option>
			<option value="2">Read/Write</option>
		</select>
	</div>
	<div class="child">
		<div class="root">
			<span>Clinic Details</span>
			<select data-bind="value: clinicDetails" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Manage Reason Code</span>
			<select data-bind="value: manageReasonCode" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Manage Practice Type</span>
			<select data-bind="value: managePracticeType" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Superbill</span>
			<select data-bind="value: superbill" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Co-Pay Collection</span>
			<select data-bind="value: copayCollection" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
	<div class="child">
		<div class="root">
			<span>Insurance Verification</span>
			<select data-bind="value: insuranceVerification" class="input-medium pull-right">
				<option value="0">None</option>
				<option value="1">Read</option>
				<option value="2">Read/Write</option>
			</select>
		</div>
	</div>
</div>