<!--
View:
Author(s):    
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="followupTab">
	  <li class="active"><a href="#followup">Follow Up</a></li>
	  <li><a href="#checkout">Checkout</a></li>  
	  <li><a href="#prescriptions">Prescriptions</a></li>
	  <li><a href="#phonelog">Phone Log</a></li>
	  <li><a href="#superbill">Superbill</a></li>
	  <li><a href="#docs">Misc Docs</a></li>
	</ul>
       
	<div class="tab-content">
		<div class="tab-pane active" id="followup">
			<div data-bind="compose: 'patient/followupTabs/followup.html'"></div>  
		</div>
		<div class="tab-pane outerPane" id="checkout">
			<div data-bind="compose: 'patient/followupTabs/checkout.html'"></div>
		</div>    
		<div class="tab-pane outerPane" id="prescriptions"> 
			<div data-bind="compose: 'patient/followupTabs/prescription.html'"></div>
		</div>
		<div class="tab-pane outerPane" id="phonelog">
			<div class="formScroll">
				<!-- ko with: phoneLog -->
				<form class="form-inline">
					<div class="row-fluid">
						<fieldset>
							<legend>Edit phone log details</legend>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Call Date"
									data-bind="value: datetime,data-bind= datepicker: true"/>
								<select class="input-medium" data-bind="value:type">
									<option>Call Type</option>
									<option>Incoming</option>
									<option>Outgoing</option>
								</select>
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Caller" data-bind="value: caller"/>
								<input type="text" class="input-medium" placeholder="Attended By" data-bind="value: attendedBy"/>
							</div>
							<div class="marginBottom5">
								<textarea class="input-xxlarge" rows="3" placeholder="Message" data-bind="value: message"></textarea>
							</div>
							<div class="marginBottom5">
								<span class="radio inline">Action Required</span>
								<label class="radio inline"> 
									<input type="radio" name="actionRequired"  data-bind="checked: actionRequired" value="Yes" /><span>Yes</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="actionRequired"   data-bind="checked:actionRequired"value="No" /><span>No</span>
								</label>  
								<select class="input-medium offset1" data-bind='options: $root.myArray,optionsCaption: "Assigned to",value:assignedTo'>      
								</select>      
							</div>     
							<div class="marginBottom5 pull-right">
								<button type="button" id ="addButton" class="btn btn-small btn-success" data-bind="click:$root.phoneLogAdd(),visible: !$root.phoneLogState()">New</button>
								<button type="button" class="btn btn-small btn-primary" data-bind="visible: !$root.phoneLogSave()">Save</button>
								<button type="button" id ="cancelButton" class="btn btn-small btn-danger" data-bind="click: $root.phoneLogCancel,visible: $root.phoneLogState()">Cancel</button>
							</div>
						</fieldset>
					</div>
				</form>
				<!-- /ko -->
			</div>
			<div class="row-fluid"> 
				<table class="table table-bordered table-hover">
					<thead>
						<tr>  
							<th>Call Date</th>
							<th>Call Type</th>
							<th>Caller</th>
							<th>Attended By</th>
							<th>Message</th>
						</tr>
					</thead>  
					<tbody data-bind="foreach: phoneLogs">     
							<tr data-bind="click: $root.setPhoneLogFields">   
								<td data-bind="text: datetime"></td>   
								<td data-bind="text: type"></td>
								<td data-bind="text: caller"></td>  
								<td data-bind="text:attendedBy"></td>
								<td data-bind="text: message"></td>						     
							</tr>          
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane" id="superbill">
			<div class="rowFuild">
				<div class="borderBottom5 offset9">
					<label class="checkbox inline">
						<input type="checkbox"/><span>Complete</span>
					</label>
				</div>
				<div class="borderBottom5">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th></th>
								<th>Service Date</th>
								<th>Billing Complete</th>
								<th>Comments</th>
							</tr> 
						</thead>
						<body>
							<td><a class="btn btn-small btn-primary">Record</a></td>
							<td></td>
							<td></td>
							<td></td>
						</body>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="docs">
		   
			<div class="formScroll">
			     <!-- ko with: doc -->
				<form class="form-inline">
					<div class="row-fluid">
						<fieldset>
							<legend>Search</legend>
							<div class="marginBottom5">
								<select class="input-medium">
									<option>Document Type</option>
									<option>All</option>
									<option>Labs</option>
									<option>X-Ray</option>
									<option>Pathology</option>
									<option>Procedures</option>
									<option>Other</option>
								</select>
								<div class="pull-right">   
									<button type="button"class="btn btn-small">Search</button>
									<button type="button"class="btn btn-small btn-warning">Clear</button>
								</div>
							</div>
						</fieldset>   
					</div>
				 
					<div class="row-fluid">
						<fieldset>   
							<legend>Details</legend>      
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Document Type" data-bind="value: type"/>
							   <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                 <div class="input-append">
                                     <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                                     <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
                                     <input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                 </div>
                             </div>
							</div>
							<div class="marginBottom5">
								<textarea class="input-xxlarge" rows="3" placeholder="Comment" data-bind="value: comment"></textarea>
							</div>  
							<div class="marginBottom5">
								<label class="checkbox inline">
									<input type="checkbox" data-bind="checked:isReviewed"/><span>Is Reviewed?</span>
								</label>      
								<button type="button"class="btn btn-small btn-primary pull-right" >Save</button>
							</div>
						</fieldset>  
					</div>     
				</form>
				<!-- /ko -->
				<div class="row-fluid">
					<div class="marginBottom5">
						<table class="table table-bordered table-hover">   
							<thead>
								<tr>
									<th></th>
									<th>Received Date</th>
									<th>DOS</th>
									<th>Doc Type</th>
									<th>Is Reviewed?</th>     
									<th>Comments</th>      
								</tr>
							</thead>    
								<tbody data-bind="foreach: documents">     
									<tr data-bind="click: $root.setDocumentFields">   
										<td></td>  
										<td data-bind="text: date"></td>      
										<td data-bind="text: DOS"></td>
										<td data-bind="text: type"></td>     
										<td data-bind="text:isReviewed"></td>
										<td data-bind="text: comment"></td>	    					     
									</tr>            
								</tbody>               
						</table>
					</div>    
				</div>     
			</div>                    
		</div>
	</div>
</div>