<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="personalTab">
		<li class="active"><a data-toggle="tab" href="#personal">Personal Information</a></li>
		<li><a data-toggle="tab" href="#insurance">Insurance</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane outerPane active" id="personal">
			<div data-bind='compose: "patient/personalTab.html"'></div>
		</div><!-- End outerPane Personal -->
		<!-- Insurance -->
		<div class="tab-pane outerPane" id="insurance">
			<div data-bind='compose: "patient/insuranceTab.html"'></div>
		</div>
	</div>
</div>