<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="personalTab">
	  <li class="active"><a href="#personal">Personal Information</a></li>
	  <li><a href="#insurance">Insurance</a></li>
	</ul>
 
	<div class="tab-content">
	  <div class="tab-pane active" id="personal">
	  	<h2>Personal Information</h2>
	  </div>
	  <!-- Insurance -->
	  <div class="tab-pane" id="insurance">
		<form id="form-inline">
			<div>
				<fieldset>
					<legend>Edit Insurance Infromation</legend>
					<span> Primary Insured person </span>  
					<input type="radio" class="insuredPerson" name="Self" value="1" /><span>Self</span>
					<input type="radio" class="insuredPerson" name="Self" value="2" /><span>Not Insured</span>
					<input type="radio" class="insuredPerson" name="Self" value="3" /><span>Other</span>
					<input type="text" class=" insuredPerson input-xlarge">
					<input type="text" class="input-medium" placeholder="Name of Insured/Responsible Party"/> 
					<select data-bind="value:inputRelationship">
						<option>Relationship with Insured</option>
						<option value="Father">Father</option>
						<option value="Mother">Mother</option>
						<option value="Spouse">Spouse</option>
						<option value="Daughter">Daughter</option>
						<option value="Son">Son</option>      
						<option value="Other">Other</option>
					</select>	    
				</fieldset>
			</div>
			<div>
				<fieldset class="span5">  
					<legend> Address of Insured/Responsible Party </legend> 
					<input type="radio" class="insuredPerson" name="address" value="" /><span>Same as for patient</span>
					<input type="radio" class="insuredPerson" name="address" value="" /> <span> Given</span>
					<input type="text" class= "input-xlarge" data-bind="value: inputAdress" placeholder="Address" >
					<input type="text" class="input-small" data-bind="value: inputCity" placeholder="City" >
					<select data-bind="value:inputState" class="input-medium">
						<option>State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>     
					<input type="text" class= "input-small" data-bind="value: inputZipCode" placeholder="ZipCode" />
					<select data-bind="value:inputCountry" class="input-medium">
						<option> USA </option> 
					</select>	  		 		                          
				</fieldset> 
			</div>
		    <div>
			     <fieldset class="span6"> 
				     <legend> Employer of Insured/Responsible Party </legend> 
				     <input type="radio" class="insuredPerson" name="employer" value="" /><span>Same as for patient</span>
			         <input type="radio" class="insuredPerson" name="employer" value="" /> <span>As Given</span>
				     <input type="radio" class="insuredPerson" name="employer" value="" /> <span>Not applicable</span>	
				     <input type="text" class= "input-xlarge" data-bind="value: inputEmployerName" placeholder="Name" />
				     <input type="text" class= "input-small" data-bind="value: inputPhone" placeholder="Phone" />
				     <input type="text" class= "input-mini" data-bind="value:" placeholder="" />
			     </fieldset>  
			</div>
			<div>
				<fieldset> 	 
			      <input type="text" class="input-small" data-bind="value: inputSSN" placeholder="SSN" />
			      <input type="checkbox" id="" value=""> <span>same as patient</span> 
			      <input type="text" class="input-small hasDatepicker" 
			      	data-bind="value: inputDOB, datepicker: {dateFormat: 'yy-mm-dd'}" placeholder="Date of Birth">
			      <input type="checkbox" id="" value=""> <span>same as patient</span> 
		    	</fieldset>
		    </div>
		</form>
		
		<!-- Insurance Detail Tabs -->
		<div class="tabbable insuranceTabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#primaryPane" data-toggle="tab">Primary Insurance</a></li>
				<li><a href="#secondaryPane" data-toggle="tab">Secondary Insurance</a></li>
				<li><a href="#otherPane" data-toggle="tab">Other Insurance</a></li>
			</ul>
			<div class="tab-content">
				<!-- Primary Insurance -->
				<div id="primaryPane" class="tab-pane active">
					<form>
						<div>
							<fieldset>
								<select data-bind="value:inpuCompany" class="input-xlarge">
									<option>Insurance Company Name</option>
									<option value="geico">Geico</option>
								</select>
								<input type="text" class="input-small hasDatepicker" 
									data-bind="value: inputDOB, datepicker: {dateFormat: 'yy-mm-dd'}" 
									placeholder="Date of Birth">
								<input type="text" class="input-medium" placeholder="ID Number">
								<input type="text" class="input-medium" placeholder="Group Number">
								<span> Subject to Pre-Existing Clause </span>  
								<input type="radio" class="insuredPerson" name="clauseOption" value="Yes" /><span>Yes</span>
								<input type="radio" class="insuredPerson" name="clauseOption" value="No" /><span>No</span>
								<span> Plan ? </span>  
								<input type="radio" class="insuredPerson" name="plan" value="HMO" /><span>HMO</span>
								<input type="radio" class="insuredPerson" name="plan" value="EPO" /><span>EPO</span>
								<input type="radio" class="insuredPerson" name="plan" value="POS" /><span>POS</span>
								<input type="radio" class="insuredPerson" name="plan" value="PPO" /><span>PPO</span>
								<input type="radio" class="insuredPerson" name="plan" value="Other" /><span>Other</span>
								<span> Referal Authorization Required</span>  
								<input type="radio" class="insuredPerson" name="referalAuthorization" value="Yes" /><span>Yes</span>
								<input type="radio" class="insuredPerson" name="referalAuthorization" value="No" /><span>No</span>
							</fieldset>
						</div>
						<div> 
							<fieldset>
								<legend>Duductible/Out of Pocket/Co-Payment</legend>     
								<span>$</span>
								<input type="text" class="input-medium" placeholder="Deductible">
								<span> Met Deductibles</span>  
								<input type="radio" class="insuredPerson" name="metDeductible" value="Yes" /><span>Yes</span>
								<input type="radio" class="insuredPerson" name="metDeductible" value="No" /><span>No</span>
								<span>$</span>
								<input type="text" class="input-medium" placeholder="Remaining Deductibles">
								<span><strong>OV/LAB</strong> Co-Payment</span>
								<span>$</span>
								<input type="text" class="input-medium" placeholder="Co-Payment">
								<input type="text" class="input-medium" placeholder="Patient Portion">
								<span>%</span>
								<input type="text" class="input-medium" placeholder="Ins.Portion">
								<span>%</span>    			  		
							</fieldset>    	
						</div> 
						<div>
							<fieldset>
								<legend>Verification</legend>
								<input type="text" class="input-medium" placeholder="Insurance Company Contact Information">
								<input type="text" class="input-medium" placeholder="Phone Number for Verification">
								<input type="text" class="input-mini" placeholder="Ext">    		 
								<span> Verified ? </span>  
								<input type="radio" class="insuredPerson" name="plan" value="Yes" /><span>Yes</span>
								<input type="radio" class="insuredPerson" name="plan" value="No" /><span>No</span>
								<input type="text" class="input-small hasDatepicker" 
									data-bind="value: inputDOB, datepicker: {dateFormat: 'yy-mm-dd'}" placeholder="Verification Date">      		 
							</fieldset>
						</div>
					</form>  
				</div>
				<!-- Secondary Insurance -->  
				<div id="secondaryPane" class="tab-pane">
					<h4>Pane 2 Content</h4>
					<form>
						
					</form>
				</div>
				<!-- Other Insurance -->
				<div id="otherPane" class="tab-pane">
					<h4>Pane 3 Content</h4>
					<form>
						
					</form>
				</div>  
			</div><!-- End tab-content -->
		</div><!-- End tabbable -->
	<div>
</div>