<div class="formScroll">
	<form class="form-inline formPadding">
		<div class="row-fluid">
			<fieldset>
				<legend>Family Status</legend>
				<div class="marginBottom5">
					<label class="radio inline">
						<input type="radio" name="familyStatusOption" value="1" />
						<span>Not Contributory</span>
					</label>
					<label class="radio inline">
						<input type="radio" name="familyStatusOption" value="2" />
						<span>Comprehensive</span>
					</label>
					<label class="radio inline">
						<input type="radio" name="familyStatusOption" value="3" />
						<span>Detail</span>
					</label>
				</div>
				<div class="marginBottom5 commentContainer">
					<textarea class="commentSpan" rows="2" placeholder="Comments"></textarea>
				</div>
				<div class="marginBottom5">
					<label class="checkbox inline">
						<input type="checkbox" />
						<span>Family&nbsp;History&nbsp;Changed</span>
					</label>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-small btn-primary">Save</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>Family History Details</legend>
				<div class="marginBottom5">
					<input type="text" placeholder="Relationship to patient" />
					<input type="text" class="input-small" placeholder="Age" />
					<span class="radio inline">Is alive?</span>
					<label class="radio inline">
						<input type="radio" name="isAlive" value="1" />
						<span>Yes</span>
					</label>
					<label class="radio inline">
						<input type="radio" name="isAlive" value="2" />
						<span>No</span>
					</label>
				</div>
				<div class="marginBottom5 commentContainer">
					<textarea class="commentSpan" rows="2" placeholder="Comments"></textarea>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-small btn-success">New</button>
					<button type="submit" class="btn btn-small btn-primary">Save</button>
					<button type="button" class="btn btn-small btn-warning">Cancel</button>
				</div>
			</fieldset>
		</div>
	</form>
	<div class="row-fluid">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Relationship</th>
					<th>Age</th>
					<th>Is Alive</th>
					<th>Comments</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>