<div class="formScroll">
	<form class="form-inline formPadding">
		<div class="row-fluid">
			<div class="marginBottom5">
				<select>
					<option value="" disabled selected style="display:none;">Smoking Habits</option>
					<option value="currently">Current Smoker</option>
					<option value="never">Never Smoked</option>
					<option value="occasional">Occasional Smoker</option>
					<option value="past">Past Smoker</option>
				</select>
				<input type="number" placeholder="Packs per week" />
				<input type="number" placeholder="No. of years" />
				<div>
					<label class="checkbox inline">
						<input type="checkbox" /><span>Counseling provided</span>
					</label>
				</div>
			</div>
			<div class="marginBottom5">
				<select>
					<option value="" disabled selected style="display:none;">Drinking Habits</option>
					<option value="occasional">Never Drinks</option>
					<option value="past">Past Drinker</option>
					<option value="regular">Regular Drinker</option>
					<option value="social">Social Drinker</option>
				</select>
				<input type="number" placeholder="Drinks per week" />
				<div>
					<label class="checkbox inline">
						<input type="checkbox" /><span>Counseling provided</span>
					</label>
				</div>
			</div>
			<div class="marginBottom5">
				<span class="radio inline">History of IV drug abuse?</span>
				<label class="radio inline">
					<input type="radio" name="drugOption" value="1" />
					<span>Yes</span>
				</label>
				<label class="radio inline">
					<input type="radio" name="drugOption" value="2" />
					<span>No</span>
				</label>
				<input type="text" class="input-large" placeholder="Details (if any)" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<div class="marginBottom5">
					<span class="radio inline">Exposure to Blood products?</span>
					<label class="radio inline">
						<input type="radio" name="bloodOption" value="1" />
						<span>Yes</span>
					</label>
					<label class="radio inline">
						<input type="radio" name="bloodOption" value="2" />
						<span>No</span>
					</label>
				</div>
			</div>
			<div class="offset1 span5">
				<div class="marginBottom5">
					<span class="radio inline">Exposure to Chemicals?</span>
					<label class="radio inline">
						<input type="radio" name="chemicalOption" value="1" />
						<span>Yes</span>
					</label>
					<label class="radio inline">
						<input type="radio" name="chemicalOption" value="2" />
						<span>No</span>
					</label>
				</div>
			</div>
		</div>
		<div class="marginBottom5">
			<textarea rows="5" cols="100" placeholder="Comments" /> </textarea>
		</div>				
	</form>
</div>
<div class="footer">
	<div class="pull-right">
		<button type="submit" class="btn btn-small btn-primary">Save</button>
		<button type="button" class="btn btn-small btn-warning">Cancel</button>
	</div>
</div>