<div class="formScroll">
	<form class="form-inline formPadding">
		<!-- ko with: socialHistory -->
		<div class="row-fluid">
			<div class="marginBottom5">
				<select class="input-large" data-bind="value: smoking">
					<option value="" disabled selected style="display:none;">Smoking Habits</option>
					<option value="currently">Current Smoker</option>
					<option value="never">Never Smoked</option>
					<option value="occasional">Occasional Smoker</option>
					<option value="past">Past Smoker</option>
				</select>
				<input type="number" class="input-mini" placeholder="Packs per week"
					data-bind="value: smokingWeekly" />
				<label class="checkbox inline">
					<input type="checkbox" data-bind="checked: smokingCounseling" />
					<span>Counseling&nbsp;provided</span>
				</label>
			</div>
			<div class="marginBottom5">
				<select class="input-large" data-bind="value: alcohol">
					<option value="" disabled selected style="display:none;">Drinking Habits</option>
					<option value="never">Never Drinks</option>
					<option value="past">Past Drinker</option>
					<option value="regular">Regular Drinker</option>
					<option value="social">Social Drinker</option>
				</select>
				<input type="number" class="input-mini" placeholder="Drinks per week"
					data-bind="value: alcoholWeekly" />
				<label class="checkbox inline">
					<input type="checkbox" data-bind="checked: alcoholCounseling" />
					<span>Counseling&nbsp;provided</span>
				</label>
			</div>
			<div class="marginBottom5">
				<span class="radio inline">History of IV drug abuse?</span>
				<label class="radio inline">
					<input type="radio" name="drugOption" value="1" data-bind="checked: drugAbuse" />
					<span>Yes</span>
				</label>
				<label class="radio inline">
					<input type="radio" name="drugOption" value="0" data-bind="checked: drugAbuse" />
					<span>No</span>
				</label>
			</div>
			<div class="marginBottom5">
				<input type="text" class="input-xlarge" placeholder="Details (if any)"
					data-bind="value: drugComment" />
			</div>
			<div class="marginBottom5">
				<span class="radio inline">Exposure to Blood products?</span>
				<label class="radio inline">
					<input type="radio" name="bloodOption" value="1" data-bind="checked: bloodExposure" />
					<span>Yes</span>
				</label>
				<label class="radio inline">
					<input type="radio" name="bloodOption" value="0" data-bind="checked: bloodExposure" />
					<span>No</span>
				</label>
			</div>
			<div class="marginBottom5">
				<span class="radio inline">Exposure to Chemicals?</span>
				<label class="radio inline">
					<input type="radio" name="chemicalOption" value="1" data-bind="checked: chemicalExposure" />
					<span>Yes</span>
				</label>
				<label class="radio inline">
					<input type="radio" name="chemicalOption" value="0" data-bind="checked: chemicalExposure" />
					<span>No</span>
				</label>
			</div>
			<div class="marginBottom5 commentContainer">
				<textarea class="commentSpan" rows="3" cols="100" placeholder="Comments" 
					data-bind="value: comment" />
				</textarea>
			</div>
			<div class="marginBottom5">
				<label class="checkbox inline">
					<input type="checkbox" data-bind="checked: historyChanged" />
					<span>Social&nbsp;History&nbsp;Changed</span>
				</label>
			</div>
		</div>
		<!-- /ko -->
	</form>
</div>
<div class="pull-right">
	<button type="submit" class="btn btn-small btn-primary" data-bind="click: $root.socialSave">Save</button>
	<button type="button" class="btn btn-small btn-warning" data-bind="click: $root.socialCancel">Cancel</button>
</div>