<!--
View:
Author(s):
Description:
-->
<div>
	<form class="well">
		<span>Personal Details</span>
		<p>
			<input type="text" data-bind="value: inputLast" placeholder="Last Name" />
			<input type="text" data-bind="value: inputMiddle" placeholder="Middle Name" />
			<input type="text" data-bind="value: inputFirst" placeholder="First Name" />
		</p>
		<p>
			<input type="text" data-bind="value: inputAlias" placeholder="Alias" />
			<select class="input-small" data-bind="value: inputGender">
				<option value="" disabled selected style="display:non;">Gender</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
			<input type="text" data-bind="value: inputAlias" placeholder="Alias" />
			<input type="text" class="input-small" data-bind="value: inputDOB, datepicker: {dateFormat: 'yy-mm-dd'}" placeholder="Date of Birth" />
		</p>
		<p>
			<input type="text" data-bind="value: inputID" placeholder="Patient ID" />
			<input type="text" data-bind="value: inputIDType" placeholder="ID Type" />
			<input type="text" data-bind="value: inputDL" placeholder="DL#" />
		</p>
	</form class="well">
		<span>Contact Details</span>
		<p>
			<input type="text" class="input-xxlarge" data-bind="value: inputAddress" placeholder="Address" />
		</p>
		<p>
			<input type="text" data-bind="value: inputCity" placeholder="City" />
			<input type="text" data-bind="value: inputState" placeholder="State" />
			<input type="text" data-bind="value: inputZip" placeholder="Zip Code" />
		</p>
		<p>
			<input type="text" data-bind="value: inputPhone" placeholder="Phone" />
			<input type="text" data-bind="value: inputCell" placeholder="Cell" />
			<input type="text" data-bind="value: inputEmail" placeholder="Email" />
		</p>
		<p>
			<input type="text" data-bind="value: inputEmergencyContact" placeholder="Emergency Contact" />
			<input type="text" data-bind="value: inputEmergencyRelation" placeholder="Relationship with Patient" />
		</p>
		<p>
			<input type="text" data-bind="value: inputEmergencyPhone" placeholder="Emergency Phone" />
			<input type="text" data-bind="value: inputEmergencyCell" placeholder="Emergency Cell" />
		</p>
	</form>
	<form>
		
	</form>
</div>