<div>
<form id="form-inline">
    <fieldset>
        <legend>Edit Insurance Information</legend>
		<span> Primary Insured person </span> 
         <input type="radio" class = "Insured_person" name="Self" value="1" />Self
         <input type="radio" class = "Insured_person" name="Self" value="2" />Not Insured
         <input type="radio" class = "Insured_person" name="Self" value="3" />Other
		 <input type="text" class=" Insured_person input-xlarge">
						
	<p id = "InsuredDetails">
	<input type="text" class="input-medium" placeholder = "Name of Insured/Responsible Party"/> 
	<select data-bind="value:inputRelationship">
					<option>Relationship with Insured</option>
					<option value="Father">Father</option>
					<option value="Mother">Mother</option>
					<option value="Spouse">Spouse</option>
					<option value="Daughter">Daughter</option>
					<option value="Son">Son</option>
					<option value="Other">Other</option>
					</select>	
	</p>
 
   <fieldset class = "span5"> 
          <legend> Address of Insured/Responsible Party </legend> 
		  <input type="radio" class = "Insured_person" name="address" value="" />Same as for patient
          <input type="radio" class = "Insured_person" name="address" value="" /> As Given
		  <p>
				<input type="text" class= "input-xlarge" data-bind="value: inputAdress" placeholder="Address" >
		  </p>
			<p>
				<input type="text" class = "input-small" data-bind="value: inputCity" placeholder="City" >
				<select data-bind="value:inputState" class = "input-medium">
					        <option>State</option>
					        <option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
						    <option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
						    <option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
						    <option value="ME">Maine</option>
						    <option value="MD">Maryland</option>
						    <option value="MA">Massachusetts</option>
						    <option value="MI">Michigan</option>
			               <option value="MN">Minnesota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
							</select>	
		  </p>
          <p>
				<input type="text" class= "input-small" data-bind="value: inputZipCode" placeholder="ZipCode" />
				<select data-bind="value:inputCountry" class = "input-medium">
				<option> USA </option> 
				</select>
		  </p>		  		 		                          
    </fieldset>
	<fieldset class = "span6"> 
	<legend> Employer of Insured/Responsible Party </legend> 
	 <input type="radio" class = "Insured_person" name="employer" value="" />Same as for patient
     <input type="radio" class = "Insured_person" name="employer" value="" /> As Given
	 <input type="radio" class = "Insured_person" name="employer" value="" /> Not applicable	
	 <input type="text" class= "input-xlarge" data-bind="value: inputEmployerName" placeholder="Name" />
	 <p>
	 <input type="text" class= "input-small" data-bind="value: inputPhone" placeholder="Phone" />
	 <input type="text" class= "input-mini" data-bind="value:" placeholder="" />
	 </p>
	</fieldset>  	
</fieldset>
</form>
</div>
