<div class="well">
	<form class="form-inline managePatients">
		<input type="text" class="input-medium"data-bind="value: keyword, valueUpdate: 'afterkeydown'" placeholder="Keyword" />
		<span>that</span>
		<select class="span2" data-bind="value: context">
			<option value="contains">Contains</option>
			<option value="startsWith">Starts With</option>
			<option value="endsWith">Ends with</option>
		</select> 
		<span>in</span>
		<select class="span3" data-bind="value: parameter">
			<option value="" disabled selected style="display:none;">All</option>
			<option value="firstName">First Name</option>
			<option value="middleName">Middle Name</option>
			<option value="lastName">Last Name</option>
			<option value="alias">Alias</option>
			<option value="gender">Gender</option>
			<option value="city">City</option>
			<option value="state">State</option>
			<option value="country">Country</option>
			<option value="phone">Phone</option>
			<option value="mobile">Mobile</option>
			<option value="email">Email</option>		
		</select>

		<!-- buttons -->
		<button type="button" data-bind="click: clearFields" class="btn btn-small btn-warning">Clear</button>
	</form>
	<!-- Patient Table -->
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Id Number</th>
				<th>Id Type</th>
				<th>Last DOS</th>
				<th>Phone</th>
				<th>Mobile</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: patients">
			<tr data-bind="visible: $root.filterPatient($data)">
				<td><a class="btn btn-small btn-primary" data-bind="attr: {href: goToRecord}">Record</a></td>
				<td data-bind="text: lastName"></td>
				<td data-bind="text: firstName"></td>
				<td data-bind="text: idNumber"></td>
				<td data-bind="text: idType"></td>
				<td></td>
				<td data-bind="text: phone"></td>
				<td data-bind="text: mobile"></td>
				<td data-bind="text: email"></td>
				<td><a class="btn btn-small btn-danger" data-bind="click: $root.deletePatient">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>