<div>
	<form class="form-inline managePatients">
		<input type="text" class="input-medium"data-bind="value: inputFilter" placeholder="Enter to filter patients" />
		<span>that</span>
		<select class="span3" data-bind="value: inputStartsEndsContains">
			<option value="" disabled selected style="display:none;">starts/ends/contains</option>
			<option value="startsWith">Starts With</option>
			<option value="endssWith">Ends with</option>
			<option value="contains">Contains</option>
		</select> 
		<span>in</span>
		<select class="span3" data-bind="value: inputSearchParameter">
			<option value="" disabled selected style="display:none;">Select Parameter</option>
			<option value="firstName">First Name</option>
			<option value="middleName">Middle Name</option>
			<option value="lastName">Last Name</option>
			<option value="alias">Alias</option>
			<option value="gender">Gender</option>
			<option value="city">City</option>
			<option value="state">State</option>
			<option value="country">Country</option>
			<option value="phone">Phone</option>
			<option value="mobile">Mobile</option>
			<option value="email">Email</option>		
		</select>

		<!-- buttons -->
		<button type="submit" class="btn btn-small btn-primary">Search</button>
		<button type="reset" class="btn btn-small">Reset Fields</button>
		<button type="button" class="btn btn-small btn-warning">Clear</button>
		<button type="button" class="btn btn-small btn-danger">Delete Record</button>
	</form>
	<!-- Patient Table -->
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>ID</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>DOB</th>
			<th>Last DOS</th>
			<th>Gender</th>
			<th>Phone</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Address</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>