<!-------------------------------------------------------------------------------------------------
View: Settings
Author(s): Sean Malone
Description: This page hold account and configurate details for the user to modify.
-------------------------------------------------------------------------------------------------->
<div class="row-fluid settings">
	<div class="span3 settingsPills">
	<!-- Nav -->
	<ul class="nav nav-tabs nav-stacked">
		<li><a  data-toggle="tab" href="#general">General</a></li>
		<li class="active"><a data-toggle="tab" href="#userRoles">Users & Roles</a></li>
	</ul>
	</div>
	<div class="span9 settingsContentHolder">
	<div class="tab-content settingsContent">
		<div class="tab-pane" id="general">
			<p>General</p>
		</div>
		<div class="tab-pane active" id="userRoles">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#users">Users</a></li>
				<li><a data-toggle="tab" href="#roles">Roles</a></li>
			</ul>
			<div class="tab-content subSettings">
				<div class="tab-pane active" id="users">
					<div data-bind='compose: "settingsTabs/users.html"'></div>
				</div>
				<div class="tab-pane" id="roles">
					<div data-bind='compose: "settingsTabs/roles.html"'></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>