<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="labTab">
		<li class="active"><a data-toggle="tab" href="#report">Reports</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane outerPane active" id="report">
			<form class="form-inline formPadding">
				<div class="row-fluid">
					<fieldset>
						<legend>Search</legend>
						<div class="marginBottom5">
							<select>
								<option value="" disabled selected style="display:none;">Document Type</option>
								<option value="all">All</option>
								<option value="placeholder">placeholder</option>
							</select>
							<button type="button" class="btn btn-small btn-warning">Clear</button>
						</div>
					</fieldset>
					<fieldset>
						<legend>Report Details</legend>
						<div class="marginBottom5">
							<select>
								<option value="" disabled selected style="display:none;">Document Type</option>
								<option value="all">All</option>
								<option value="placeholder">placeholder</option>
							</select>
							<input type="text" placeholder="Test Date (DOS)" data-bind="datepicker: true" />
							<label class="checkbox inline">
								<input type="checkbox" />
								<span>Unknown</span>
							</label>
						</div>
						<div class="marginBottom5 commentContainer">
							<textarea class="commentSpan" rows="3" placeholder="Comments" /></textarea>
						</div>
						<div class="marginBottom5">
							<label class="checkbox inline">
								<input type="checkbox" />
								<span>Is Reviewed?</span>
							</label>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-small">Add</button>
							<button type="button" class="btn btn-small btn-primary">Save</button>
						</div>
					</fieldset>
				</div>
			</form>
			<div class="row-fluid">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Received Date</th>
							<th>DOS</th>
							<th>Document Type</th>
							<th>Is Reviewed?</th>
							<th>Comments</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>