<!-------------------------------------------------------------------------------------------------
 | View: Order
 | Author: Sean Malone
 | Description: This View contains the UI components for Order.
 ------------------------------------------------------------------------------------------------->
<div>
	<!-- Order Tabs -->
	<ul class="nav nav-tabs patientNavs" id="orderTab">
		<li class="active"><a data-toggle="tab" href="#image"data-bind="visible: role().orders() > 0">Imaging Order</a></li>
		<li><a data-toggle="tab" href="#lab" data-bind="visible: role().orders() > 0">Labs Order</a></li>
		<li><a data-toggle="tab" href="#chemo"data-bind="visible: role().orders() > 0">Chemo Order</a></li>
		<li data-bind="css: {active: role().orders() < 1}">
			<a data-toggle="tab" href="#medication" data-bind="visible: role().medicationOrders() > 0">Medication Order</a>
		</li>
	</ul>
 	<!-- Tab Content -->
	<div class="tab-content">
		<!-- Imaging Order -->
		<div class="tab-pane outerPane active" id="image" data-bind="visible: role().orders() > 0">
			<div data-bind="compose: 'patient/servicerecord/orderTabs//imageTab.html'" >
			</div>
		</div>
		<!-- Labs Order -->
		<div class="tab-pane outerPane" id="lab" data-bind="visible: role().orders() > 0">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/labTab.html'">
			</div>
		</div>
		<!-- Procedure Order -->
		<div class="tab-pane outerPane" id="chemo" data-bind="visible: role().orders() > 0">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/chemoTab.html'">
			</div>
		</div>
		<!-- Medication Order -->
		<div class="tab-pane outerPane" id="medication" data-bind="css: {active: role().orders() < 1},
					visible: role().medicationOrders() > 0">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/medicationTab.html'" >
			</div>
		</div>
	</div>
</div>