<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="orderTab">
		<li class="active"><a data-toggle="tab" href="#image">Imaging Order</a></li>
		<li><a data-toggle="tab" href="#lab">Labs Order</a></li>
		<li><a data-toggle="tab" href="#chemo">Chemo Order</a></li>
		<li><a data-toggle="tab" href="#medication">Medication Order</a></li>
	</ul>
 
	<div class="tab-content">
		<div class="tab-pane outerPane active" id="image">
			<div data-bind="compose: 'patient/servicerecord/orderTabs//imageTab.html'" >
				<!-- Imaging Order -->
			</div>
		</div>
		<div class="tab-pane outerPane" id="lab">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/labTab.html'" >
				<!-- Labs Order -->
			</div>
		</div>
		<div class="tab-pane outerPane" id="chemo">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/chemoTab.html'" >
				<!-- Procedure Order -->
			</div>
		</div>
		<div class="tab-pane outerPane" id="medication">
			<div data-bind="compose: 'patient/servicerecord/orderTabs/medicationTab.html'" >
				<!-- Medication Order -->
			</div>
		</div>
	</div>
</div>