<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="orderTab">
		<li class="active"><a data-toggle="tab" href="#image">Imaging Order</a></li>
		<li><a data-toggle="tab" href="#lab">Labs Order</a></li>
		<li><a data-toggle="tab" href="#procedure">Procedure Order</a></li>
		<li><a data-toggle="tab" href="#medication">Medication Order</a></li>
	</ul>
 
	<div class="tab-content">
		<div class="tab-pane outerPane active" id="image">
			<h2>Imaging Order</h2>
		</div>
		<div class="tab-pane outerPane" id="lab">
			<h2>Labs Order</h2>
		</div>
		<div class="tab-pane outerPane" id="procedure">
			<h2>Procedure Order</h2>
		</div>
		<div class="tab-pane outerPane" id="medication">
			<h2>Medication Order</h2>
		</div>
	</div>
</div>