<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="physicalTab">
		<li class="active"><a data-toggle="tab" href="#vital">Vital Signs</a></li>
		<li><a data-toggle="tab" href="#physical">Physical Examination</a></li>
	</ul>
 
	<div class="tab-content">
		<div class="tab-pane outerPane active" id="vital">
			<div class="formScroll">
				<form class="form-inline formPadding">
					<div class="row-fluid">
						<div class="span5">
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Height" />
								<label class="radio inline">
									<input type="radio" name="height" value="1" /><span>Inches</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="height" value="2" /><span>Centimeters</span>
								</label>
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Weight" />
								<label class="radio inline">
									<input type="radio" name="weight" value="1" /><span>lbs.</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="weight" value="2" /><span>kg.</span>
								</label>
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Temp" />
								<label class="radio inline">
									<input type="radio" name="weight" value="1" /><span>R</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="weight" value="2" /><span>A</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="weight" value="3" /><span>O</span>
								</label>
								<label class="radio inline">
									<input type="radio" name="weight" value="4" /><span>T</span>
								</label>
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="HC" />
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="BMI" />
								<input type="text" class="input-medium" placeholder="BSA" />
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Resp" />
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="SpO2" />
								<span>%</span>
							</div>
						</div>
						<div class="offset1 span5">
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Sitting Blood Presure" />
								<input type="text" class="input-medium" placeholder="Sitting Pulse" />
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Lying Blood Presure" />
								<input type="text" class="input-medium" placeholder="Lying Pulse" />
							</div>
							<div class="marginBottom5">
								<input type="text" class="input-medium" placeholder="Standing Blood Presure" />
								<input type="text" class="input-medium" placeholder="Standing Pulse" />
							</div>
						</div>
						<div class="marginBottom5 commentContainer">
							<textarea class="commentSpan" rows="5" placeholder="Comments" /></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="row-fluid">
				<div class="pull-right">
					<button type="submit" class="btn btn-small btn-primary">Save</button>
					<button type="button" class="btn btn-small btn-warning">Clear</button>
				</div>
			</div>
		</div>
		<div class="tab-pane outerPane" id="physical">
			<h2>Physical Examination</h2>
		</div>
	</div>
</div>