<!--
View:
Author(s):
Description:
-->
<div>
	<ul class="nav nav-tabs patientNavs" id="serviceTab">
		<li class="active"><a href="#service">Service Records</a></li>
	</ul>
 
	<div class="tab-content">
		<div class="tab-pane active" id="service">
			<form class="form-inline formPadding">
				<div class="row-fluid">
					<fieldset>
						<legend>Patient Details</legend>
						<div class="marginBottom5">
							<input type="text" placeholder="First Name" />
							<input type="text" placeholder="Last Name" />
						</div>
						<div class="marginBottom5">
							<input type="text" placeholder="Date of Birth" data-bind="datepicker: true" />
							<select>
								<option value="" disabled selected style="display:none;">Gender</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<legend>Edit Service Record</legend>
						<div class="marginBottom5">
							<input type="text" placeholder="Date of Service" data-bind="datepicker: true" />
							<select>
								<option value="" disabled selected style="display:none;">Physician</option>
								<option value="placeholder">placeholder</option>
							</select>
						</div>
						<div class="marginBottom5 commentContainer">
							<textarea class="commentSpan" rows="3" placeholder="Reason for Visit" /></textarea>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-small btn-primary">Save</button>
							<button type="button" class="btn btn-small btn-danger">Delete</button>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>